{% extends "base.html" %}

{% block content %}

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">ALL <span class="w3-hide-small">IRELAND</span> STARCRAFT</span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT US</h3>
  <p class="w3-center"><em>How it all began...</em></p>
  <p>Northern Ireland Global Starcraft, NIGS, was founded in 2011 by members Patrick "CluEleSs"McClurg and Stewart "Wombat" Millar. Together, this powerhouse duo would travel the island looking for the strongest talent and the most handsome men to join the prestigious ranks of All Ireland Starcraft's elite playerbase. After hosting the first official NIGS event at Q-Con 2011 in Belfast, the celestial gods of NIGS, henceforth known as The Pantheon, changed the name to Northern Ireland Starcraft, or NiS.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>The NiS Logo - circa 2011</b></p><br>
      <img src="/../static/nisLogo.png" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>Jonathan McShane took over as glorious leader in 2012 and built upon the bedrock laid before him to grow it into the UK and Ireland's premier Starcraft community. It is currently 2018, and NiS, now All Ireland Starcraft, or AISC, has no plans of slowing down. Our unique blend of rash comedy, our don't-give-a-fuck attitude and our trademark velvet smoking jacket/outrun blasting/blue-eyed soul consuming aesthetics will keep our events fresh and our community active.</p>
    </div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">420+</span><br>
    Members
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">12+</span><br>
    Offline Events
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">30+</span><br>
    Online Events
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">420+</span><br>
    Memes
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">PAST EVENTS</h3>
  <p class="w3-center"><em><br></em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <img src="/../static/qcon2011.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Q-Con 2011">
    </div>

    <div class="w3-col m3">
        <img src="/../static/qcon2012.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Q-Con 2012">
    </div>

    <div class="w3-col m3">
      <img src="/../static/qcon2013.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Q-Con 2013">
    </div>

    <div class="w3-col m3">
      <img src="/../static/qcon2014.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Q-Con 2014">
    </div>
  </div>

  <div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m3">
      <img src="/../static/qcon2015.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Q-Con 2015">
    </div>

    <div class="w3-col m3">
      <img src="/../static/qcon2016.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Q-Con 2016">
    </div>

    <div class="w3-col m3">
      <img src="/../static/qcon2017.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Q-Con 2017">
    </div>

    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">Email Us</h3>
  <p class="w3-center"><em>allirelandsc@gmail.com</em></p>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
{% endblock %}
